@charset "utf-8";
/* --------------------------------------------------
 * COMPONENT
 * -------------------------------------------------- */

/* SECTION
 * -------------------------------------------------- */
.c-section {
	margin: 80px 0 0;

	@include mediaScreenMax($breakTablet) {
		margin-top: 40px;
	}
/*
	&:first-child,
	.c-pageTitle + & {
		margin-top: 0;
	}
*/
	&:first-child {
		margin-top: 0;
	}
	&--type_frame {
		padding: 50px;
		border: solid 2px $bgColor;

		@include mediaScreenMax($breakTablet) {
			padding: 20px;
		}
	}
	&_columns {
		display: block;
		margin: 0 -10px;
		letter-spacing: -.5em;

		@include mediaScreenMax($breakTablet) {
			margin-left: -5px;
			margin-right: -5px;
		}
		&:first-child {
			margin-top: -20px;
		}
	}
	&_column {
		display: inline-block;
		vertical-align: top;
		margin: 20px 0 0;
		padding: 0 10px;
		letter-spacing: 0;

		@include mediaScreenMax($breakTablet) {
			padding-left: 5px;
			padding-right: 5px;
		}
		.c-section_columns--column_2 & {
			width: 50%;
		}
		.c-section_columns--column_3 & {
			width: 33.3%;

			@include mediaScreenMax($breakTablet) {
				width: 50%;
			}
		}
		> .e-box {
			display: block;
			text-decoration: none;

			&--line_gray {
				padding: 15px;
				border: solid 1px #d2d2d2;
			}
		}
	}
	&_head {
		display: block;
		margin: 20px 0 0;
		color: $mainColor;
		@include fontsize(26);
		@extend .u-font_mincho;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(18);
		}
		&:first-child {
			margin-top: 0;
		}
		.c-section--type_frame &,
		.c-section_columns--column_3 & {
			@include fontsize(22);

			@include mediaScreenMax($breakTablet) {
				@include fontsize(16);
			}
		}
		.c-section--type_frame & {
			text-align: center;
		}
	}
	&_head2 {
		display: block;
		margin: 20px 0 0;
		@include fontsize(22);
		@extend .u-font_mincho;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(16);
		}
		&:first-child {
			margin-top: 0;
		}
		.c-section--type_frame &,
		.c-section_columns--column_3 & {
			@include fontsize(19);

			@include mediaScreenMax($breakTablet) {
				@include fontsize(14);
			}
		}
	}
	&_text {
		display: block;
		margin: 20px 0 0;
		@include fontsize(16);
		line-height: 1.9;

		@include mediaScreenMax($breakTablet) {
			margin-top: 10px;
			@include fontsize(14);
		}
		&:first-child {
			margin-top: 0;
		}
		.c-section--type_frame &,
		.c-section_columns--column_3 & {
			margin-top: 10px;
			@include fontsize(14);

			@include mediaScreenMax($breakTablet) {
				@include fontsize(12);
			}
		}
	}
	&_links {
		display: block;
		margin: 20px 0 0;

		&:first-child {
			margin-top: 0;
		}
		&--type_land {
			margin-top: 10px;
		}
		&--type_long {}
		.c-section--type_frame &,
		.c-section_columns--column_3 & {
			margin-top: 10px;
		}
	}
	&_link {
		@include fontsize(16);
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(14);
		}
		.c-section_links--type_land & {
			display: inline-block;
			margin: 10px 15px 0 0;
		}
		.c-section_links--type_long & {
			display: block;
			margin: 10px 0 0;
		}
		.e-anc {
			display: block;
			padding: 0 0 0 12px;
			background: url(../img/global/arrow_triangle_right_color.png) no-repeat 0 center;
			background-size: 6px auto;
		}
	}
	&_figure {
		display: block;
		margin: 20px 0 0;
		text-align: center;

		@include mediaScreenMax($breakTablet) {
			margin-top: 10px;
		}
		&:first-child {
			margin-top: 0;
		}
		.c-section--type_frame &,
		.c-section_columns--column_3 & {
			margin-top: 10px;
		}
		.e-img {}
		.e-caption {
			display: block;
			@include fontsize(13);
			line-height: 1.3;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(10);
			}
		}
		.e-img + .e-caption {
			margin-top: 10px;

			@include mediaScreenMax($breakTablet) {
				margin-top: 5px;
			}
		}
		iframe {
			width: 760px;
			height: 450px;
			margin: auto;

			@include mediaScreenMax($breakTablet) {
				width: 100%;
				height: 250px;
			}
		}
	}
	&_floFig {
		max-width: 50%;
		padding: 0 0 20px;
		text-align: center;

		@include mediaScreenMax($breakTablet) {}
		&--left {
			float: left;
			padding-right: 40px;

			@include mediaScreenMax($breakTablet) {
				padding-right: 20px;
			}
		}
		&--right {
			float: right;
			padding-left: 40px;

			@include mediaScreenMax($breakTablet) {
				padding-left: 20px;
			}
		}
		.e-img {}
		.e-caption {
			display: block;
			margin: 10px 0 0;
			@include fontsize(13);
			line-height: 1.3;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(10);
			}
		}
	}
}


/* PAGE TITLE
 * -------------------------------------------------- */
.c-pageTitle {
	margin: 0 0 30px;

	@include mediaScreenMax($breakTablet) {
		margin-bottom: 20px;
	}
	&_name {
		display: block;
		@extend .u-font_mincho;
		@include fontsize(42);
		font-weight: normal;
		letter-spacing: .1em;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(32);
		}
	}
	&_sub {
		display: block;
		margin: 10px 0 0;
		@extend .u-font_mincho;
		@include fontsize(28);
		font-weight: normal;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(22);
		}
	}
	&_desc {
		display: block;
		margin: 10px 0 0;
		@include fontsize(16);
		font-weight: normal;
		line-height: 1.8;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(14);
		}
	}
}


/* TABLE
 * -------------------------------------------------- */
.c-table {
	margin: 40px 0 0;

	@include mediaScreenMax($breakTablet) {
		margin-top: 20px;
	}
	&_frame {
		overflow-x: auto;
		width: 100%;
	}
	table,
	&_table {
		width: 100%;
		//border-bottom: solid 1px #d2d2d2;
	}
	&_tbody {}
	&_row {
		border-top: solid 1px #d2d2d2;

		&:last-child {
			border-bottom: solid 1px #d2d2d2;
		}
	}
	&_head,
	&_data {
		vertical-align: middle;
		padding: 15px;
		@include fontsize(14);
		border-left: solid 1px #d2d2d2;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(12);
		}
	}
	&_head {
		background: $bgColor;

		@include mediaScreenMax($breakTablet) {
			padding-left: 0;
			padding-right: 0;
		}
		&:first-child {
			border-left: none;
		}
	}
	&_data {}
}


/* BANNER BLOCK
 * -------------------------------------------------- */
.c-bnrBlock {
	&_items {
		margin: 0 -10px;
		letter-spacing: -.5em;

		@include mediaScreenMax($breakTablet) {
			margin: 0 -5px;
		}
		&--column_1 {}
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		margin: 20px 0 0;
		padding: 0 10px;
		letter-spacing: 0;

		@include mediaScreenMax($breakTablet) {
			margin-top: 10px;
			padding: 0 5px;
		}
		.c-bnrBlock_items--column_1 & {
			width: 100%;
		}
		.c-bnrBlock_items--column_2 & {
			width: 50%;
		}
		.c-bnrBlock_items--column_3 & {
			width: 33.3%;
		}
		.c-bnrBlock_items--column_4 & {
			width: 25%;

			@include mediaScreenMax($breakTablet) {
				width: 50%;
			}
		}
		> a,
		.e-box {
			display: block;
			position: relative;
		}
		.e-figure {
			display: block;
			position: relative;
			z-index: 1;

			img,
			&_img {
				width: 100%;
			}
		}
		.e-caption {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			padding: 0 15px;
			@include fontsize(16);
			z-index: 2;
			@include prefix(transform, translateY(-50%));

			@include mediaScreenMax($breakTablet) {
				@include fontsize(12);
			}
		}
	}
}


/* TAB BLOCK
 * -------------------------------------------------- */
.c-tabBlock {
	&_top {
		position: relative;
		top: 1px;
		margin: 0 -2px 0;
		z-index: 2;
	}
	&_tabs {
		display: table;
		width: 100%;
	}
	&_tab {
		display: table-cell;
		vertical-align: bottom;
		padding: 0 2px;
		text-align: center;

		.e-name {
			display: block;
			padding: 15px;
			background: $bgColor;
			@include fontsize(16);
			border: 1px solid #d2d2d2;
			border-radius: 4px 4px 0 0;
			cursor: pointer;
			@include transition;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(12);
			}
			&:hover {
				@include opacity;
			}
		}
		&.is-state_active {
			.e-name {
				cursor: default;
				background-color: #fff;
				border-bottom-color: #fff;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
	&_items {
		display: block;
		position: relative;
		background: #fff;
		border: 1px solid #d2d2d2;
		border-radius: 0 0 4px 4px;
		z-index: 1;
	}
	&_item {
		padding: 30px;

		@include mediaScreenMax($breakTablet) {
			padding: 15px;
		}
	}
}


/* NOTE AREA
 * -------------------------------------------------- */
.c-noteArea {
	margin: 20px 0 0;
	padding: 15px;
	border: solid 5px #f3f3f3;

	@include mediaScreenMax($breakTablet) {
		margin-top: 10px;
	}
}


/* LINK LIST
 * -------------------------------------------------- */
.c-linkList {
	display: block;
	margin: 40px 0 0;
	border-bottom: dashed 1px #aaaaaa;

	@include mediaScreenMax($breakTablet) {
		margin-top: 20px;
	}
	&_item {
		border-top: dashed 1px #aaaaaa;

		.e-box {
			display: block;
			position: relative;
			padding: 15px 30px 15px 15px;
			text-decoration: none;

			@include mediaScreenMax($breakTablet) {
				padding-left: 0;
				padding-right: 15px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 15px;
				width: 6px;
				background: url(../img/global/arrow_triangle_right_color.png) no-repeat right center;
				background-size: 100% auto;

				@include mediaScreenMax($breakTablet) {
					right: 0;
				}
			}
		}
	}
	&_head,
	&_text {
		display: block;
	}
	&_head {
		@include fontsize(22);
		@extend .u-font_mincho;
		font-weight: bold;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(18);
		}
	}
	&_text {
		margin: 5px 0 0;
		@include fontsize(14);
		font-weight: normal;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(12);
		}
	}
}


/* NAVIGATION BUTTON
 * -------------------------------------------------- */
.c-navBtn {
	padding: 20px 0 40px;

	&_items {
		margin: 0 -7.5px;
		letter-spacing: -.5em;
		@extend .u-font_mincho;

		@include mediaScreenMax($breakTablet) {
			margin: 0;
		}
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		width: 20%;
		padding: 0 7.5px;
		letter-spacing: 0;

		@include mediaScreenMax($breakTablet) {
			display: block;
			width: 100%;
			margin: 10px 0 0;
			padding: 0;
		}
		&:first-child {
			@include mediaScreenMax($breakTablet) {
				margin-top: 0;
			}
		}
		&.is-item_houwa {}
		&.is-item_podcast {}
		&.is-item_livecamera {}
		&.is-item_faq {}
		&.is-item_event {}
		.e-box {
			display: block;
			height: 110px;
			padding: 3px;
			background: #fff;
			text-decoration: none;
			border: solid 1px #bfbfbf;

			@include mediaScreenMax($breakTablet) {
				height: auto;
			}
		}
		.no-device & a.e-box:hover {
			@extend .u-hover_opacity;
		}
		.e-box_in {
			display: table;
			position: relative;
			width: 100%;
			height: 100%;
			background: #f3f3f3;
			color: #000;
			@include transition;

			@include mediaScreenMax($breakTablet) {
				padding: 15px 0 15px 45px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 10px;
				width: 6px;
				background: url(../img/global/arrow_triangle_right_color.png) no-repeat right center;
				background-size: 100% auto;
			}
		}
		.no-device & a.e-box:hover .e-box_in {}
		.e-name {
			display: table-cell;
			vertical-align: middle;
			text-align: center;

			@include mediaScreenMax($breakTablet) {
				text-align: left;
			}
		}
		.e-name:before {
			content: '';
			display: block;
			height: 30px;
			background: no-repeat center center;
			background-size: auto 100%;
			@include transition;

			@include mediaScreenMax($breakTablet) {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				width: 45px;
				height: auto;
			}
		}
		&.is-item_houwa .e-name:before {
			background-image: url(../img/global/icon_houwa_color.png);

			@include mediaScreenMax($breakTablet) {
				background-size: 25px auto;
			}
		}
		.no-device &.is-item_houwa a.e-box:hover .e-name:before {}
		&.is-item_podcast .e-name:before {
			background-image: url(../img/global/icon_podcast_color.png);

			@include mediaScreenMax($breakTablet) {
				background-size: 19px auto;
			}
		}
		.no-device &.is-item_podcast a.e-box:hover .e-name:before {}
		&.is-item_livecamera .e-name:before {
			background-image: url(../img/global/icon_livecamera_color.png);

			@include mediaScreenMax($breakTablet) {
				background-size: 18px auto;
			}
		}
		.no-device &.is-item_livecamera a.e-box:hover .e-name:before {}
		&.is-item_faq .e-name:before {
			background-image: url(../img/global/icon_faq_color.png);

			@include mediaScreenMax($breakTablet) {
				background-size: 19px auto;
			}
		}
		.no-device &.is-item_faq a.e-box:hover .e-name:before {}
		&.is-item_event .e-name:before {
			background-image: url(../img/global/icon_event_color.png);

			@include mediaScreenMax($breakTablet) {
				background-size: 17px auto;
			}
		}
		.no-device &.is-item_event a.e-box:hover .e-name:before {}
		.e-name_small,
		.e-name_main {
			display: block;

			@include mediaScreenMax($breakTablet) {
				display: inline-block;
				vertical-align: middle;
			}
		}
		.e-name_small {
			margin: 8px 0 0;
			@include fontsize(11);
			font-weight: normal;
			font-style: normal;

			@include mediaScreenMax($breakTablet) {
				margin-top: 0;
				@include fontsize(13);
			}
		}
		.e-name_main {
			margin: 15px 0 0;
			@include fontsize(17);
			font-weight: normal;

			@include mediaScreenMax($breakTablet) {
				margin-top: 0;
				@include fontsize(13);
			}
		}
		.e-name_small + .e-name_main {
			margin-top: 5px;
			@include fontsize(16);

			@include mediaScreenMax($breakTablet) {
				margin-top: 0;
				@include fontsize(13);
			}
		}
	}
}


/* LINK BUTTON
 * -------------------------------------------------- */
.c-linkBtn {
	margin: 25px 0 0;
	text-align: center;

	@include mediaScreenMax($breakTablet) {
		margin-top: 10px;
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		max-width: 480px;

		&.is-item_gallery {}
		.e-box {
			display: block;
			position: relative;
			padding: 3px;
			background: #fff;
			text-decoration: none;
			border: solid 1px #bfbfbf;
		}
		.no-device & a.e-box:hover {
			@extend .u-hover_opacity;
		}
		.e-box_in {
			display: table;
			width: 100%;
			height: 100%;
			padding: 15px 20px;
			background: #f3f3f3;
			@include transition;

			@include mediaScreenMax($breakTablet) {
				padding: 12px 15px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 30px;
				width: 6px;
				background: url(../img/global/arrow_triangle_right_color.png) no-repeat right center;
				background-size: 100% auto;

				@include mediaScreenMax($breakTablet) {
					right: 10px;
				}
			}
		}
		.no-device & a.e-box:hover .e-box_in {}
		.e-name {
			display: inline-block;
			vertical-align: middle;
			color: #000;
			@include fontsize(16);
			font-weight: normal;
			@extend .u-font_mincho;
			@include transition;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(13);
			}
		}
		.no-device & a.e-box:hover .e-name {}
	}
}


/* KEY VISUAL
 * -------------------------------------------------- */
.c-kv {
	margin: 4px -2px 0;
	letter-spacing: -.5em;

	@include mediaScreenMax($breakTablet) {
		margin: 1px 0 0;
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		height: 520px;
		padding: 0 2px;

		@include mediaScreenMax($breakTablet) {
			height: 400px;
			padding: 0;
		}
		.e-box {
			overflow: hidden;
			display: block;
			position: relative;
			width: 100%;
			height: 100%;
			background: #000;
		}
		.no-device & a.e-box:hover {}
		.e-thumb {
			display: block;
			width: 100%;
			height: 100%;
			background: no-repeat center center;
			background-size: cover;
			z-index: 1;
			@include transition;

			&_img {
				display: none;
			}
		}
		&.is-item_about .e-thumb {
			background-image: url(../img/home/kv_about_thumb.png);
		}
		&.is-item_worship .e-thumb {
			background-image: url(../img/home/kv_worship_thumb.png);
		}
		&.is-item_experience .e-thumb {
			background-image: url(../img/home/kv_experience_thumb.png);
		}
		&.is-item_access .e-thumb {
			background-image: url(../img/home/kv_access_thumb.png);
		}
		.no-device & a.e-box:hover .e-thumb {
			opacity: .35;
			-ms-transform: scale(1.2);
			transform: scale(1.2);
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
		.e-caption {
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			width: 88px;
			margin: auto;
			background: no-repeat center center;
			background-size: 100% auto;
			color: transparent;
			font-size: 0;
			line-height: 0;
			z-index: 2;

			@include mediaScreenMax($breakTablet) {
				width: 65px;
			}
		}
		&.is-item_about .e-caption {
			background-image: url(../img/home/kv_about_caption.png);
		}
		&.is-item_worship .e-caption {
			background-image: url(../img/home/kv_worship_caption.png);
		}
		&.is-item_experience .e-caption {
			background-image: url(../img/home/kv_experience_caption.png);
		}
		&.is-item_access .e-caption {
			background-image: url(../img/home/kv_access_caption.png);
		}
	}
}


/* MAIN VISUAL
 * -------------------------------------------------- */
.c-mv {
	background: url(../img/global/mv_bg.png) no-repeat center center;
	background-size: cover;

	&--contents_about {
		background-image: url(../img/about/mv_bg.png);
	}
	&--contents_worship {
		background-image: url(../img/worship/mv_bg.png);
	}
	&--contents_experience {
		background-image: url(../img/experience/mv_bg.png);
	}
	&--contents_access {
		background-image: url(../img/access/mv_bg.png);
	}
	&--contents_houwa {
		background-image: url(../img/houwa/mv_bg.png);
	}
	&--contents_podcast {
		background-image: url(../img/podcast/mv_bg.png);
	}
	&--contents_livecamera {
		background-image: url(../img/livecamera/mv_bg.png);
	}
	&--contents_faq {
		background-image: url(../img/faq/mv_bg.png);
	}
	&--contents_tokyo-zen {
		background-image: url(../img/tokyo-zen/mv_bg.png);
	}
	&_inner {
		display: table;
		width: 100%;
		height: 400px;

		@include mediaScreenMax($breakTablet) {
			height: 200px;
		}
	}
	&_name {
		display: table-cell;
		vertical-align: middle;
		color: #fff;
		@extend .u-font_mincho;

		.e-name,
		.e-en {
			display: block;
		}
		.e-name {
			@include fontsize(36);

			@include mediaScreenMax($breakTablet) {
				@include fontsize(28);
			}
		}
		.e-en {
			margin: 10px 0 0;
			@include fontsize(16);

			@include mediaScreenMax($breakTablet) {
				@include fontsize(12);
			}
		}
		.e-img {
			@include mediaScreenMax($breakTablet) {
				max-height: 200px;
			}
		}
	}
}


/* GALLERY
 * -------------------------------------------------- */
.c-gallery {
	padding: 0 0 100px;

	@include mediaScreenMax($breakTablet) {
		padding-bottom: 40px;
	}
	&_area {
		padding: 40px 0 20px;
		background: #1b1b1b;

		@include mediaScreenMax($breakTablet) {
			padding-top: 20px;
			padding-bottom: 10px;
		}
	}
	&_head {
		color: #fff;
		text-align: center;
		text-shadow: 0 2px #000;
		@extend .u-font_mincho;

		.e-name,
		.e-en {
			display: block;
		}
		.e-name {
			@include fontsize(28);
			font-weight: normal;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(18);
			}
		}
		.e-en {
			margin: 5px 0 0;
			@include fontsize(12);
			font-weight: normal;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(10);
			}
		}
	}
	&_slider {
		margin: 30px 0 0;

		@include mediaScreenMax($breakTablet) {
			margin-top: 20px;
		}
	}
	&_link {}
	&_linkItem {
		.e-name {
			padding-left: 35px;
			background: url(../img/global/icon_gallery_color.png) no-repeat 0 center;
			background-size: 24px auto;
			line-height: 22px;

			@include mediaScreenMax($breakTablet) {
				padding-left: 30px;
				background-size: 20px auto;
			}
		}
		.no-device & a.e-box:hover .e-name {}
	}
}


/* SLIDER
 * -------------------------------------------------- */
.c-slider {
	&_item {
		margin: 0 2.5px;

		@include mediaScreenMax($breakTablet) {}
		.e-box {
			overflow: hidden;
			display: block;
		}
		.no-device & a.e-box:hover {}
		.e-img {
			width: 350px;

			@include mediaScreenMax($breakTablet) {
				width: 320px;
			}
		}
		.no-device & a.e-box:hover .e-img {
			-ms-transform: scale(1.2);
			transform: scale(1.2);
			-webkit-filter: grayscale(100%);
			filter: grayscale(100%);
		}
	}

	/* SLICK */
	&.slick-slider .slick-list,
	&.slick-slider .slick-track {
		-webkit-backface-visibility:hidden;
		backface-visibility:hidden;
		overflow:hidden;
		z-index: 10;
	}
	.slick-slider {}
	.slick-slide {
		opacity: .5;
		cursor: move;
		cursor: grab;
		cursor: -moz-grab;
		cursor: -webkit-grab;

		&:active {
			cursor: grabbing;
			cursor: -moz-grabbing;
			cursor: -webkit-grabbing;
		}
		&.slick-active {}
		&.slick-current {
			opacity: 1;
		}
	}
	.slick-arrow {
		position: absolute;
		top: 50%;
		width: 26px;
		height: 100px;
		margin-top: -50px;
		background: #fff no-repeat center center;
		background-size: 10px auto;
		color: transparent;
		font-size: 0;
		line-height: 0;
		outline: none;
		z-index: 11;

		@include mediaScreenMax($breakTablet) {}
	}
	.no-device & .slick-arrow:hover {
		background-color: $mainColor;
	}
	.slick-prev {
		left: 50%;
		margin-left: -530px;
		background-image: url(../img/global/arrow_triangle_left_color.png);

		@include mediaScreenMax($breakTablet) {
			left: 0;
			margin-left: 0px;
		}
	}
	.no-device & .slick-prev:hover {
		background-image: url(../img/global/arrow_triangle_left_white.png);
	}
	.slick-next {
		right: 50%;
		margin-right: -530px;
		background-image: url(../img/global/arrow_triangle_right_color.png);

		@include mediaScreenMax($breakTablet) {
			right: 0;
			margin-right: 0px;
		}
	}
	.no-device & .slick-next:hover {
		background-image: url(../img/global/arrow_triangle_right_white.png);
	}
	.slick-dots {
		display: block;
		position: absolute;
		top: 476px;
		left: 0;
		right: 0;
		width: 400px;
		margin: auto;
		line-height: 0;
		text-align: center;
		z-index: 10;

		li {
			display: inline-block;
			margin: 0 7px;

			&.slick-active {}
			button {
				display: block;
				width: 6px;
				height: 6px;
				margin: 0;
				padding: 0;
				background: #c6c6c6;
				font-size: 0;
				letter-spacing: 0;
				outline: none;
				border-radius: 100%;
			}
			.no-device & button:hover,
			&.slick-active button {
				background-color: #101d57;
			}
		}
	}
}


/* POPUP
 * -------------------------------------------------- */
.mfp-bg {
	background: #000;
	opacity: .75;
}
.mfp-zoom-out-cur {
	cursor: default;
}
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
	cursor: pointer;
}
.mfp-container {
	cursor: pointer;
}
.mfp-zoom-in {}
.mfp-zoom-in .mfp-with-anim {
	opacity: 0;
	@include transition;
	transform: scale(.8);
}
.mfp-zoom-in.mfp-bg {
	opacity: 0;
	@include transition;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
	opacity: 1;
	transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: .75;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
	transform: scale(.8);
	opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
button.mfp-arrow {
	opacity: 1;
	margin-top: -50px;
	width: 50px;
	height: 100px;
	background: #fff no-repeat center center;
	background-size: 10px auto;
	opacity: 0;
	@include transition;

	@include mediaScreenMax($breakTablet) {
		width: 26px;
		-webkit-transform: scale(1);
		transform: scale(1);
	}
	.mfp-ready & {
		opacity: 1;
	}
	.mfp-removing & {
		opacity: 0;
	}
}
button.mfp-arrow-left {
	left: 0;
	background-image: url(../img/global/arrow_triangle_left_color.png);
}
button.mfp-arrow-right {
	right: 0;
	background-image: url(../img/global/arrow_triangle_right_color.png);
}
.no-device button.mfp-arrow:hover {
	background-color: $mainColor;
	@include transition;
}
.no-device button.mfp-arrow-left:hover {
	background-image: url(../img/global/arrow_triangle_left_white.png);
}
.no-device button.mfp-arrow-right:hover {
	background-image: url(../img/global/arrow_triangle_right_white.png);
}
.mfp-arrow:before,
.mfp-arrow:after {
	display: none;
}
button.mfp-arrow:active {
	margin-top: -50px;
}
.mfp-image-holder .mfp-close {
	top: -50px;
	right: 0;
	width: 50px;
	height: 50px;
	margin: 0;
	padding: 0;
	background: #fff;
	color: $mainColor;
	font-size: 40px;
	line-height: 0;
	text-align: center;
	opacity: 1;
}
.no-device .mfp-image-holder .mfp-close:hover {
	background-color: $mainColor;
	color: #fff;
	@include transition;
}
img.mfp-img {
	padding: 0;
}
.mfp-bottom-bar {
	margin-top: 0;
}
.mfp-counter {
	top: auto;
	bottom: -25px;
}


/* NEWS AREA
 * -------------------------------------------------- */
.c-newsArea {
	padding: 40px 0 100px;
	background: #f3f3f3;

	@include mediaScreenMax($breakTablet) {
		padding-bottom: 40px;
	}
	&--bgNone {
		margin: 80px 0 0;
		padding: 0;
		background: none;

		@include mediaScreenMax($breakTablet) {
			margin-top: 40px;
			padding-bottom: 0;
		}
	}
	&_inner {
		.u-inner & {
			margin-left: 0;
			margin-right: 0;
		}
	}
	&_head {
		letter-spacing: -.5em;
		text-align: center;

		&:before {
			content: '';
			display: inline-block;
			vertical-align: middle;
			width: 60px;
			height: 60px;
			margin: 0 20px 0 0;
			background: url(../img/global/logo_mark_black.png) no-repeat center center;
			background-size: 100% auto;

			@include mediaScreenMax($breakTablet) {
				width: 30px;
				height: 30px;
				margin-right: 10px;
			}
		}
		.e-name {
			display: inline-block;
			vertical-align: middle;
			@include fontsize(28);
			font-weight: normal;
			line-height: 1;
			letter-spacing: .1em;
			@extend .u-font_mincho;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(18);
			}
		}
	}
	&_subhead {
		display: table;
		width: 100%;
		padding: 15px 30px;
		background: $mainColor;
		color: #fff;

		@include mediaScreenMax($breakTablet) {
			padding: 15px;
		}
		.e-name,
		.e-link {
			display: table-cell;
			vertical-align: middle;
		}
		.e-name {
			@include fontsize(20);
			font-weight: normal;
			letter-spacing: .1em;
			@extend .u-font_mincho;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(15);
			}
		}
		.e-link {
			text-align: right;
		}
		.e-link_box {
			display: inline-block;
			padding: 0 16px 0 0;
			background: url(../img/global/arrow_triangle_right_white.png) no-repeat right center;
			background-size: 6px auto;
			color: #fff;
			@include fontsize(14);
			text-decoration: none;
			@extend .u-hover_opacity;

			@include mediaScreenMax($breakTablet) {
				padding-right: 14px;
				background-size: 4px auto;
				@include fontsize(12);
			}
		}
		.no-device & a.e-link_box:hover {
			color: #fff;
		}
	}
}


/* NEWS LIST typeA
 * -------------------------------------------------- */
.c-newsListA {
	margin: 25px 0 0;

	@include mediaScreenMax($breakTablet) {
		margin-top: 15px;
	}
	&_body {
		display: block;
		padding: 20px 30px;
		background: #fff;

		@include mediaScreenMax($breakTablet) {
			padding: 15px;
		}
	}
	&_lists {}
	&_list {
		display: block;
		margin: 10px 0 0;

		&:first-child {
			margin-top: 0;
		}
		.e-box {
			display: inline-block;
			padding: 0 0 0 16px;
			background: url(../img/global/arrow_triangle_right_color.png) no-repeat 0 center;
			background-size: 6px auto;
			color: #000;
			@include fontsize(15);
			line-height: 1.4;
			text-decoration: none;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(12);
			}
		}
		.no-device & a.e-box:hover {
			color: $mainColor;
		}
	}
}


/* NEWS LIST typeB
 * -------------------------------------------------- */
.c-newsListB {
	margin: 20px 0 0;

	&_lists {
		border-bottom: dashed 1px #aaaaaa;
	}
	&_list {
		display: block;
		text-align: left;
		border-top: dashed 1px #aaaaaa;

		.e-box {
			display: table;
			width: 100%;
			padding: 20px 30px;
			color: #000;
			text-decoration: none;

			@include mediaScreenMax($breakTablet) {
				display: block;
				padding: 15px 0;
			}
		}
		.no-device & a.e-box:hover {
			color: $mainColor;
		}
		.e-date,
		.e-category,
		.e-name {
			display: table-cell;
			vertical-align: middle;
		}
		.e-date {
			width: 120px;
			@include fontsize(14);

			@include mediaScreenMax($breakTablet) {
				width: 6.5em;
				@include fontsize(12);
			}
		}
		.e-category {
			width: 120px;
		}
		.e-category_icon {
			display: inline-block;
			vertical-align: middle;
			width: 110px;
			padding: 6px 0;
			color: #fff;
			@include fontsize(13);
			font-style: normal;
			line-height: 1;
			border-radius: 4px;
			text-align: center;
			border: solid 1px;
			@include transition;

			@include mediaScreenMax($breakTablet) {
				width: 7em;
				padding: 3px 0;
				@include fontsize(11);
			}
		}
		.e-category.is-color_A .e-category_icon,
		.e-category.is-category_houwa .e-category_icon {
			background-color: #993366;
			border-color: #993366;
		}
		.e-category.is-color_B .e-category_icon,
		.e-category.is-category_event .e-category_icon {
			background-color: #638c0b;
			border-color: #638c0b;
		}
		.no-device & a.e-box:hover .e-category_icon {
			background-color: #fff;
		}
		.no-device & a.e-box:hover .e-category.is-color_A .e-category_icon,
		.no-device & a.e-box:hover .e-category.is-category_houwa .e-category_icon {
			color: #993366;
		}
		.no-device & a.e-box:hover .e-category.is-color_B .e-category_icon,
		.no-device & a.e-box:hover .e-category.is-category_event .e-category_icon {
			color: #638c0b;
		}
		.e-name {}
		a.e-box .e-name {
			@include fontsize(14);
			font-weight: normal;
			line-height: 1.4;
			text-decoration: underline;

			@include mediaScreenMax($breakTablet) {
				display: block;
				margin-top: 5px;
				@include fontsize(12);
			}
		}
	}
}


/* PAGER
 * -------------------------------------------------- */
.c-pager {
	display: block;
	position: relative;
	height: 35px;

	&_button {
		display: inline-block;
		position: absolute;
		top: 0;

		.e-name {
			display: block;
			position: relative;
			width: 70px;
			height: 35px;
			padding: 9px 0 0;
			background: #fff;
			//color: $mainColor;
			@include fontsize(14);
			text-align: center;
			text-decoration: none;
			border: solid 1px #aaa;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(12);
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				width: 5px;
				background: no-repeat center center;
				background-size: 100% auto;
			}
		}
		&--type_prev {
			left: 0;

			.e-name {
				padding-left: 25px;
				text-align: left;

				&:after {
					left: 10px;
					background-image: url(../img/global/arrow_triangle_left_color.png);
				}
			}
		}
		&--type_next {
			right: 0;

			.e-name {
				padding-right: 25px;
				text-align: right;

				&:after {
					right: 10px;
					background-image: url(../img/global/arrow_triangle_right_color.png);
				}
			}
		}
	}
	&_numbers {
		display: block;
		padding: 0 100px;
		letter-spacing: -.4em;
		text-align: center;
	}
	&_number {
		display: inline-block;
		vertical-align: top;
		width: 35px;
		height: 35px;
		margin: 0 5px;
		padding: 9px 0 0;
		background: #fff;
		@include fontsize(14);
		letter-spacing: 0;
		border: solid 1px #aaa;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(12);
		}
		.ccm-page & {
			//color: $mainColor;
			text-decoration: none;

			&--type_current {
				color: #fff;
				background-color: $mainColor;
				border-color: $mainColor;
			}
		}
	}
}


/* PAGE FRONT
 * -------------------------------------------------- */
.c-pageFront {
	padding: 100px 0;

	@include mediaScreenMax($breakTablet) {
		padding: 40px 0;
	}
	&_block {
		position: relative;
		min-height: 280px;
		margin: 30px 0 0;

		@include mediaScreenMax($breakTablet) {
			min-height: 0;
			margin-top: 20px;
		}
		&:first-child {
			margin-top: 0;
		}
		&.is-figure_left {
			padding-left: 430px;

			@include mediaScreenMax($breakTablet) {
				padding-left: 0;
			}
		}
		&.is-figure_right {
			padding-right: 430px;

			@include mediaScreenMax($breakTablet) {
				padding-right: 0;
			}
		}
	}
	&_figure {
		position: absolute;

		@include mediaScreenMax($breakTablet) {
			position: static;
			margin: 0 (-$padding);
		}
		.e-img {
			max-width: none;

			@include mediaScreenMax($breakTablet) {
				width: 100%;
			}
		}
	}
	&_block.is-figure_left &_figure {
		right: 50%;
		margin-right: 180px;

		@include mediaScreenMax($breakTablet) {
			margin-right: (-$padding);
		}
	}
	&_block.is-figure_right &_figure {
		left: 50%;
		margin-left: 180px;

		@include mediaScreenMax($breakTablet) {
			margin-left: (-$padding);
		}
	}
	&_body {
		@extend .u-font_mincho;

		@include mediaScreenMax($breakTablet) {
			margin-top: $padding;
		}
	}
	&_head {
		@include fontsize(28);
		font-weight: normal;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(19);
		}
	}
	&_desc {
		margin: 25px 0 0;
		@include fontsize(15);
		line-height: 1.7;

		@include mediaScreenMax($breakTablet) {
			margin-top: 10px;
			@include fontsize(12);
		}
	}
	&_link {
		@include mediaScreenMax($breakTablet) {
			margin-top: $padding;
		}
	}
	&_linkItem {
		width: 100%;

		.e-box {}
	}
}


/* BANNER AREA
 * -------------------------------------------------- */
.c-bannerArea {
	padding: 100px 0;
	background: #f3f3f3;

	@include mediaScreenMax($breakTablet) {
		padding: 40px 0;
	}
}


/* GRID BANNER
 * -------------------------------------------------- */
.c-gridBnr {
	position: relative;
	letter-spacing: -.5em;

	&_grid {
		margin: -2px;

		@include mediaScreenMax($breakTablet) {
			margin: 0;
		}
	}
	&_cell {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 2px;

		@include mediaScreenMax($breakTablet) {
			display: block;
			width: auto;
			padding: 0;
		}
	}
	&_items {
		margin: -2px;

		.c-gridBnr_grid + & {
			margin-top: 2px;
		}
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		width: 25%;
		padding: 2px;

		@include mediaScreenMax($breakTablet) {
			width: 50%;
		}
		.e-box {
			display: block;
			text-decoration: none;
		}
		.e-img {
			@include mediaScreenMax($breakTablet) {
				width: 100%;
			}
		}
		&.is-item_solor {
			@include mediaScreenMax($breakTablet) {
				width: 100%;
			}
		}
	}
	&_cell &_item {
		width: 50%;
	}
	&_timeline {
		position: absolute;
		top: 2px;
		right: 0;
		width: 50%;
		height: 530px;
		padding: 0 0 2px 2px;

		@include mediaScreenMax($breakTablet) {
			position: static;
			width: 100%;
			height: auto;
			margin-top: 4px;
		}
	}
}


/* SUB BANNER
 * -------------------------------------------------- */
.c-subBnr {
	margin: 50px 0 0;

	@include mediaScreenMax($breakTablet) {
		margin-top: $padding;
	}
	&_items {
		margin: -8px;
		letter-spacing: -.5em;

		@include mediaScreenMax($breakTablet) {
			margin: -5px;
		}
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		width: 33.3%;
		padding: 8px;

		@include mediaScreenMax($breakTablet) {
			width: 50%;
			padding: 5px;
		}
		.e-box {
			display: block;
			text-decoration: none;
		}
		.e-img {
			width: 100%;
		}
	}
}


/* TIMELINE
 * -------------------------------------------------- */
.c-timeline {

	&_wrap {
		background: #1b1b1b;
	}

	.fb_iframe_widget,
	.fb_iframe_widget span,
	.fb_iframe_widget iframe[style]{
		//width: 100% !important;
		display: block;
		width: 100%;
		max-width: 500px;
		margin: auto;

		@include mediaScreenMax($breakTablet) {
			width: 100% !important;
			height: 400px !important;
		}
	}
	.fb_iframe_widget iframe[style]{
		@include mediaScreenMax($breakTablet) {}
	}
}


/* SOLOR
 * -------------------------------------------------- */
.c-solor {
	min-height: 262px;
	background: #fff;
	letter-spacing: 0;

	&_head {
		display: block;
		padding: 13px 10px;
		background: $mainColor;
		color: #fff;
		@include fontsize(20);
		font-weight: normal;
		letter-spacing: .05em;
		text-align: center;
		text-shadow: 0 1px rgba(0, 0, 0, .35);
		@extend .u-font_mincho;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(17);
		}
	}
	&_body {
		padding: 15px;
	}
	&_row {
		margin: 10px 0 0;

		&:first-child {
			margin-top: 0;
		}
		.e-head {
			display: block;
			color: $mainColor;
			@include fontsize(13);
			font-weight: bold;
		}
		.e-head_time {
			display: inline-block;
			margin: 0 0 0 .5em;
			color: #000;
			font-weight: normal;
		}
		.e-data {
			display: block;
			margin: 5px 0 0;
			@include fontsize(15);
			font-weight: bold;
			line-height: 25px;
			text-align: center;
			border: solid 1px #ddd;
		}
	}
	&_month {
		display: block;
		margin: 10px 0 0;
		padding: 10px 0;
		text-align: center;
		border: solid 3px $mainColor;

		.e-row {
			display: table;
			margin: auto;
		}
		.e-head,
		.e-data {
			display: table-cell;
			vertical-align: middle;
		}
		.e-head {
			color: $mainColor;
			@include fontsize(14);
			font-weight: bold;
		}
		.e-data {
			padding: 0 0 0 5px;
			@include fontsize(15);
			font-weight: bold;
		}
	}
	&_message {
		display: block;
		margin: 10px 0 0;
		padding: 5px 10px;
		background: #dcdcdc;
		@include fontsize(12);
		border-radius: 4px;
	}
}


/* OPENING
 * -------------------------------------------------- */
.c-opening {
	display: none;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	cursor: pointer;
	z-index: 101;

	&_band {
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		width: 140px;
		height: 100%;
		margin: auto;
		background: #1b1b1b;
		background-color: rgba(27, 27, 27, .8);
		text-align: center;
		z-index: 2;

		@include mediaScreenMax($breakTablet) {
			width: 100%;
			height: 130px;
		}
	}
	&_logo {
		display: block;
		width: 100%;
		height: 100%;
		background: url(../img/global/logo_white_type_3.png) no-repeat center center;
		background-size: 72px auto;
		color: transparent;
		font-size: 0;
		line-height: 0;

		@include mediaScreenMax($breakTablet) {
			background-image: url(../img/global/logo_white_type_2.png);
			background-size: 185px auto;
		}
	}
	&_bgs {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: #000;
		z-index: 1;
	}
	&_bg {
		display: none;
		position: absolute;
		width: 100%;
		height: 100%;
		background: no-repeat center center;
		background-size: cover;
		z-index: 1;

		&:nth-child(1) {
			background-image: url(../img/home/opening_01.png);
		}
		&:nth-child(2) {
			background-image: url(../img/home/opening_02.png);
		}
		&:nth-child(3) {
			background-image: url(../img/home/opening_03.png);
		}
		&:nth-child(4) {
			background-image: url(../img/home/opening_04.png);
		}
		&.is-slide_active {
			z-index: 3;
		}
		&.is-slide_next {}
	}
}


/* FAQ - C5
 * -------------------------------------------------- */
.ccm-faq-container {}
.ccm-faq-block-links {
	a {
		display: block;
		position: relative;
		margin: 10px 0 0;
		padding: 0 0 0 30px;
		@include fontsize(16);
		font-weight: 700;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			padding-left: 25px;
			@include fontsize(14);
		}
		&:before {
			content: 'Q';
			display: inline-block;
			position: absolute;
			top: -2px;
			left: 0;
			width: 25px;
			height: 25px;
			padding: 4px 0 0;
			background: $mainColor;
			color: #fff;
			@include fontsize(16);
			font-weight: 700;
			text-align: center;
			line-height: 1;
			border-radius: 25px;
			@extend .u-font_mincho;

			@include mediaScreenMax($breakTablet) {
				width: 20px;
				height: 20px;
				padding-top: 3px;
				@include fontsize(12);
			}
		}
		&:first-child {
			margin-top: 0;
		}
	}
}
.ccm-faq-block-entries {
	display: block;
	margin: 60px 0 0;

	@include mediaScreenMax($breakTablet) {
		margin-top: 30px;
	}
}
.faq-entry-content {
	display: block;
	position: relative;
	margin: 60px 0 0;
	padding: 0 0 0 30px;

	@include mediaScreenMax($breakTablet) {
		margin-top: 30px;
		padding-left: 25px;
	}
	&:before {
		content: 'Q';
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 25px;
		height: 25px;
		padding: 5px 0 0;
		background: $mainColor;
		color: #fff;
		@include fontsize(16);
		font-weight: 700;
		text-align: center;
		line-height: 1;
		border-radius: 25px;
		@extend .u-font_mincho;

		@include mediaScreenMax($breakTablet) {
			width: 20px;
			height: 20px;
			padding-top: 4px;
			@include fontsize(12);
		}
	}
	> a {}
	h3 {
		@extend .c-section_head2;
	}
	p {
		position: relative;
		@extend .c-section_text;

		&:nth-of-type(2):before {
			content: 'A';
			display: inline-block;
			position: absolute;
			top: 0;
			left: -30px;
			width: 25px;
			height: 25px;
			padding: 5px 0 0;
			background: $mainColor;
			color: #fff;
			@include fontsize(16);
			font-weight: 700;
			text-align: center;
			line-height: 1;
			border-radius: 25px;
			@extend .u-font_mincho;

			@include mediaScreenMax($breakTablet) {
				width: 20px;
				height: 20px;
				padding-top: 4px;
				@include fontsize(12);
			}
		}
	}
}


#blank {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 200;
	background-color: #000;
}



/* 東京禅センター
 * -------------------------------------------------- */
#course {
	@include mediaScreenMax($breakTablet) {
		width: 100%;
	}
	ul,
	iframe {
		display: inline-block;
		vertical-align: top;
	}
	ul {
		@include mediaScreenMax($breakTablet) {
			width: 100%;
			text-align: center;
		}
		li {
			list-style-type: none;
			margin: 0 25px 10px 0;

			@include mediaScreenMax($breakTablet) {
				margin-right: 0;
			}
		}
	}
	iframe {
		@include mediaScreenMax($breakTablet) {
			width: 100%;
			margin-top: 20px;
		}
		div {
			@include mediaScreenMax($breakTablet) {
				width: 100% !important;
			}
		}
	}
}



