@charset "utf-8";
/* --------------------------------------------------
 * FONT
 * -------------------------------------------------- */
.ccm-page, .ccm-page select, .ccm-page input, .ccm-page button, .ccm-page textarea, .ccm-page :before, .ccm-page :after,
//body, select, input, button, textarea, :before, :after,
.u-font_gothic,
.u-font_gothicBefore:before,
.u-font_gothicAfter:after {
	/*font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;*/
	font-family: 'Roboto', 'Noto Sans Japanese', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}
.u-font_mincho,
.u-font_minchoBefore:before,
.u-font_minchoAfter:after {
	font-family: 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', HGS明朝E, メイリオ, Meiryo, serif;;
	//font-family: 'Sawarabi Mincho', 游明朝, 'Yu Mincho', YuMincho, 'Hiragino Mincho ProN', HGS明朝E, メイリオ, Meiryo, serif;;
}
.u-font_sansserif,
.u-font_sansserifBefore:before,
.u-font_sansserifAfter:after {
	font-family: 'Roboto', sans-serif;
}
.u-font_serif,
.u-font_serifBefore:before,
.u-font_serifAfter:after {
	font-family: 'Lora', serif;
}
