@charset "utf-8";
/* --------------------------------------------------
 * UTILITY
 * -------------------------------------------------- */

.u-show_desktop {
	@include mediaScreenMax($breakTablet) {
		display: none !important;
	}
}
.u-hide_desktop {
	display: none;

	@include mediaScreenMax($breakTablet) {
		display: inherit;
	}
}
.u-show_tablet {
	display: none;

	@include mediaScreenMax($desktopWidth) {
		display: inherit;
	}
	@include mediaScreenMax($breakTablet) {
		display: none !important;
	}
}
.u-hide_tablet {
	@include mediaScreenMax($desktopWidth) {
		display: none !important;
	}
	@include mediaScreenMax($breakTablet) {
		display: none !important;
	}
}
.u-show_media {
	display: none;

	@include mediaScreenMax($breakTablet) {
		display: inline;
	}
}
.u-hide_media {
	@include mediaScreenMax($breakTablet) {
		display: none !important;
	}
}

.u-inner {
	max-width: $desktopWidth;
	//height: 100%;
	margin: 0 auto;
	padding: 0;

	@include mediaScreenMax($breakTablet) {
		width: auto;
		margin-left: $padding;
		margin-right: $padding;
	}
}
.u-innerS {
	max-width: 880px;
	height: 100%;
	margin: 0 auto;
	padding: 0;

	@include mediaScreenMax($breakTablet) {
		margin-left: $padding * 2;
		margin-right: $padding * 2;
	}
}
.u-inner_child {
	margin-left: $padding * 2;
	margin-right: $padding * 2;

	@include mediaScreenMax($breakTablet) {
		margin-left: $padding;
		margin-right: $padding;
	}
}

@include mediaScreenMax($breakTablet) {
	.u_m-inner {
		width: auto;
		max-width: none;
		margin-left: $padding;
		margin-right: $padding;
	}
	.u_m-innerS {
		margin-left: $padding * 2;
		margin-right: $padding * 2;
	}
	.u_m-inner0 {
		margin-left: 0;
		margin-right: 0;
	}
	.u_m-inner_child {
		margin-left: $padding;
		margin-right: $padding;
	}
	.u_m-inner_childS {
		margin-left: $padding * 2;
		margin-right: $padding * 2;
	}
}

.u-radius {
	border-radius: $bordeRadius;
}

.u-font_bold {
	font-weight: bold;
}

/* TEXT */
.u-text_center {
	text-align: center;
}
.u-text_left {
	text-align: left;
}
.u-text_right {
	text-align: right;
}
.u-text_sup {
	font-size: 70%;
	vertical-align: top;
	position: relative;
	top: -.1em;
}
.u-text_sub {
	font-size: 70%;
	vertical-align: bottom;
	position: relative;
	top: .1em;
}
.u-text_indent {
	text-indent: 1em;
}
.u-text_block {
	display: inline-block;
}
@include mediaScreenMax($breakTablet) {
	.u_m-text_center {
		text-align: center;
	}
	.u_m-text_left {
		text-align: left;
	}
	.u_m-text_right {
		text-align: right;
	}
}

/* COLOR */
.u-color_red {
	color: #cd0000;
}

/* FLOAT */
.u-float_left {
	float: left;
}
.u-float_right {
	float: right;
}

/* WIDTH */
.u-width_full {
	width: 100%;
}

/* HOVER */
.u-hover_opacity {}
.no-device .u-hover_opacity:hover {
	opacity: $opacityValue;
}
.no-device .u-hover_opacity:hover img {
	opacity: 1;
}

/* CLEARFIX */
.u-clearfix {
	overflow: hidden;
	zoom: 1;
}
.u-clearfix:after {
	content: '';
	display: block;
	clear: both;
	height: 0;
	overflow: hidden;
}


/* FADEIN */
.u-anim-fadeIn {
	-webkit-animation: fadeIn 1.2s ease .15s;
	animation: fadeIn 1.2s ease .15s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


