.c-section_floFig figure + figure {
	margin-top: 20px;
}

.c-section_floFig--center {
	width: 100%;
	max-width: 100%;
}
.c-section_floFig--center figure {
	display: block;
	width: 100%;
	text-align: center;
	max-width: 660px;
	margin-left: auto;
	margin-right: auto;
}

.c-section_floFig--center figure + figure {
	margin-top: 20px;
}

.c-section_floFig--center .e-caption {
	margin-top: 10px;
}