@charset "utf-8";
// ==================================================
// BASE
// ==================================================

html {
	font-size: 62.5%;

	@media print {
		html {
			background-image: none;
			background-color: #fff;
		}
	}
}

body {
	position: relative;
	width: 100%;
	min-width: $desktopWidth + $padding * 2;
	background: #fff;
	color: $fontColor;
	@include fontsize(16);
	-webkit-text-size-adjust: 100%;

	@include mediaScreenMax($breakTablet) {
		min-width: inherit;
	}

	@media print {
		_zoom: 80%;
		background-image: none;
		background-color: #fff;
		-webkit-print-color-adjust: exact;
	}
}

.ccm-page a,
.ccm-page a:before,
.ccm-page a:after,
.ccm-page a img,
.ccm-page button,
.ccm-page button:before,
.ccm-page button:after,
.u-transition,
.u-transition_before:before,
.u-transition_after:after {
	-webkit-transition: all .35s cubic-bezier(.75, 0, .35, 1);
	transition: all .35s cubic-bezier(.75, 0, .35, 1);
}
/*
a,
button {
	-webkit-tap-highlight-color: rgba(220, 0, 0, 0.15);
}
*/
.ccm-page a {
	color: $fontColor;
	text-decoration: underline;
}
.no-device .ccm-page a:hover {
	color: #dc4415;
	text-decoration: none;
}
.no-device .ccm-page a:hover img {
	opacity: $opacityValue;
}

.ccm-page button {
	cursor: pointer;
	background: none;
	outline: none;
}

.ccm-page img {
	vertical-align: bottom;
	max-width: 100%;
	height: auto;
	border: none;
	outline: none;
}

.ccm-page *,
.ccm-page :before,
.ccm-page :after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	color: #fff;
	background: $mainColor;
}
::selection {
	color: #fff;
	background: $mainColor;
}