@charset "utf-8";
// ==================================================
// CONFIG
// ==================================================


// HTML5の場合は値を「false」から「true」にする
$useHtml5: true;


// 汎用クラスを使用するか
$useExtendObject: true;


// 余白調整用のクラスを使用するか
$useSpacingClasses: false;


// 画像のパス
$img: "../../img/";


// デスクトップのコンテンツ幅
$desktopWidth: 1060px;


// メディア・タイプのコンテンツ幅
$mediaWidth: 290px;


// タブレットのブレークポイント
$breakTablet: 767px;


// スマートフォンのブレークポイント
$breakSmart: 479px;


// ベースフォント
$baseFont: Avenir, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, Verdana, 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;

$baseFontWF: 'Montserrat', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'Meiryo UI', 'メイリオ', Meiryo, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;


// ベース文字サイズ
$baseFontSize: 16;


// ベース行間
$baseLineHeight: 1.6;


// テキストカラー
$fontColor: #000;


//メインカラー
$mainColor: #dc4415;

//妙心NOW!カラー
$nowColor: #993366;

// 背景カラー
$bgColor: #f3f3f3;


// ブロック要素の左右の余白
$padding: 15px;


// ロールオーバーの値
$opacityValue: .65;


// 角丸
$bordeRadius: 4px;


// トランジションの速度
$transitionSpeed: .35;


// 回転の角度
$rotateValue: 360;


// hover時の要素の拡大比率
$scaleValue: 1.2;


// CSS3ベンダープレフィックス
$prefixes: -webkit-, -moz-, '';
//$prefixes: -webkit-, -moz-, -ms-, -o-, '';


// アニメーション用ベンダープレフィックス
$animPrefixes: -webkit-, '';


// タッチ端末以外のclass(Modernizr使用)
$noTouchCls: '.no-touch';


// 画像ファイルの設置ディレクトリ
$imgPath: '/assets/img/';
