@charset "utf-8";
/* --------------------------------------------------
 * GLOBAL
 * -------------------------------------------------- */

.g-body {
	display: flex;
	flex-direction: column;

	@media print {
		display: block;
	}
}
.g-wrapper {
	overflow: hidden;
	position: relative;
	background: #fff;
	width: 100%;
	color: $fontColor;
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	min-height: 100vh;

	@media print {
		display: block;
		min-height: auto;
	}
}


/* HEADER
 * -------------------------------------------------- */
.g-header {
	background: #000;

	@include mediaScreenMax($breakTablet) {
		position: relative;
		z-index: 11;
	}

	&_wrap {
		display: table;
		width: 100%;
		height: 100px;
		padding: 0 30px;

		@include mediaScreenMax($breakTablet) {
			height: 60px;
			padding: 0;
		}
	}
	&_left,
	&_right {
		display: table-cell;
		vertical-align: middle;
	}
	&_left {
		text-align: left;

		@include mediaScreenMax($breakTablet) {
			display: block;
			height: 100%;
		}
	}
	&_right {
		text-align: right;

		@include mediaScreenMax($breakTablet) {
			display: none;
		}
	}
	&_logo {
		@include mediaScreenMax($breakTablet) {
			display: block;
			height: 100%;
		}
		.e-box {
			@include mediaScreenMax($breakTablet) {
				display: table;
				width: 100%;
				height: 100%;
				padding: 0 60px 0 20px;
			}
			&_cell {
				@include mediaScreenMax($breakTablet) {
					display: table-cell;
					vertical-align: middle;
				}
			}
		}
		.e-img {
			width: 358px;

			@include mediaScreenMax($breakTablet) {
				width: 100%;
				max-width: 150px;
			}
		}
	}
	&_rtop {}
	&_rbottom {
		margin: 10px 0 0;
		letter-spacing: -.5em;
	}
	&_englidh,
	&_search {
		display: inline-block;
		vertical-align: middle;
	}
	&_englidh {
		.e-button {
			display: block;
			padding: 0 15px;
			background: #313131;
			color: #fff;
			@include fontsize(12);
			line-height: 26px;
			letter-spacing: .05em;
			text-decoration: none;
		}
		.no-device & a.e-button:hover {
			background-color: $mainColor;
			color: #fff;
			border-color: $mainColor;
		}
	}
	&_search {
		position: relative;
		margin: 0 0 0 20px;

		.e-input {
			display: block;
			width: 200px;
			padding: 0 35px 0 5px;
			@include fontsize(14);
			line-height: 26px;
			letter-spacing: 0;
			border-radius: 4px;
		}
		.e-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 26px;
			background: $mainColor url(../img/global/icon_search_white.png) no-repeat center center;
			background-size: 14px auto;
			color: transparent;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			border-radius: 0 4px 4px 0;
			@extend .u-hover_opacity;
			@include transition;
		}
	}
}

//* SNS */
.g-headSns {
	&_item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 10px;
	}
	&_item .e-img {
		height: 26px;
	}
	&_item.is-item_fblike {}
	&_item.is-item_fblike .fb-like {}
	&_item.is-item_now {
		.e-button {
			display: block;
			width: 140px;
			background: $nowColor;
			color: #fff;
			@include fontsize(13);
			letter-spacing: 0;
			line-height: 26px;
			text-decoration: none;
			border-radius: 4px;
			text-align: center;
			@extend .u-font_mincho;
		}
		.no-device & a.e-button:hover {
			background-color: #fff;
			color: $nowColor;
		}
	}
	&_item.is-item_fb {
		.e-img {}
	}
	&_item.is-item_tw {
		.e-img {}
	}
	&_item.is-item_ig {
		.e-img {}
	}
	&_item.is-item_yt {
		.e-img {}
	}
}


/* NAVIGATION
 * -------------------------------------------------- */
.g-nav {
	line-height: 1;

	@include mediaScreenMax($breakTablet) {
		display: none;
	}
}

/* MAIN */
.g-navMain {
	&_items {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	&_item {
		display: table-cell;
		@extend .u-font_mincho;
		@include fontsize(18);
		text-align: center;
		border-left: solid 1px #eea28a;

		&:first-child {
			border-left: none;
		}
		.e-box {
			display: block;
			padding: 15px;
			background: $mainColor;
			color: #fff;
			letter-spacing: .1em;
			text-decoration: none;

			.no-device &:hover {
				color: #fff;
				opacity: $opacityValue;
			}
		}
	}
}

/* SUB */
.g-navSub {
	&_items {
		display: table;
		table-layout: fixed;
		width: 100%;
	}
	&_item {
		display: table-cell;
		position: relative;
		@extend .u-font_mincho;
		@include fontsize(13);
		text-align: center;

		&:first-child {
			border-left: none;
		}
		&:before {
			content: '';
			position: absolute;
			top: 10px;
			bottom: 10px;
			left: 0;
			width: 1px;
			background: #afafaf;
			z-index: 2;
		}
		.e-box {
			display: block;
			padding: 10px;
			background: $bgColor;
			text-decoration: none;

			.no-device &:hover {
				color: $fontColor;
				opacity: $opacityValue;
			}
		}
	}
}


/* MENU
 * -------------------------------------------------- */
.g-menu {
	visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;

	&.is-menu_ready {
		display: none;
		visibility: visible;

		@include mediaScreenMax($breakTablet) {
			display: block;
		}
	}
	&_wrap {
		background: #000;
		//height: 100%;
		box-shadow: 0 0 10px #000;
	}
	&_inner {
		padding-top: 80px;
		padding-bottom: 40px;
	}
	&_bottom {}
	&_search {
		display: block;
		position: relative;
		margin: 20px 0 0;

		.e-input {
			display: block;
			width: 100%;
			padding: 0 50px 0 10px;
			background: #fff;
			@include fontsize(16);
			line-height: 40px;
			letter-spacing: 0;
			border-radius: 4px;
		}
		.e-button {
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 40px;
			background: #dc4415 url(../img/global/icon_search_white.png) no-repeat center center;
			background-size: 14px auto;
			color: transparent;
			font-size: 0;
			line-height: 0;
			cursor: pointer;
			border-radius: 0 4px 4px 0;
		}
	}
	&_buttons {
		margin: 20px -5px 0;
		letter-spacing: -.5em;
	}
	&_button {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		padding: 0 5px;
		letter-spacing: 0;

		.e-button {
			display: block;
			padding: 10px 0;
			color: #fff;
			@include fontsize(14);
			text-align: center;
			text-decoration: none;
			border-radius: 4px;
		}
		&.is-button_english {
			.e-button {
				background: #313131;
				letter-spacing: .05em;
				text-decoration: none;
			}
		}
		&.is-button_now {
			.e-button {
				background: #993366;
				@extend .u-font_mincho;
			}
		}
	}
}

//* NAVIGATION */
.g-menuNav {
	margin: 0 -20px;
	letter-spacing: -.5em;
	@extend .u-font_mincho;

	&_lists {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		margin: -10px 0 0;
		padding: 0 20px;
		letter-spacing: 0;
	}
	&_list {
		display: block;
		margin: 10px 0 0;

		.e-box {
			display: block;
			position: relative;
			color: #fff;
			@include fontsize(13);
			line-height: 1.4;
			text-decoration: none;

			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				width: 4px;
				background: url(../img/global/arrow_triangle_right_color.png) no-repeat right center;
				background-size: 100% auto;
			}
		}
	}
}

//* BUTTON */
.g-menuBtn {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 60px;
	height: 60px;
	background: #000;
	cursor: pointer;
	z-index: 11;

	@include mediaScreenMax($breakTablet) {
		display: block;
	}
	&_line {
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		margin: auto;
		background: #fff;
		width: 20px;
		height: 2px;
		@include transition;

		&.is-line_top {
			top: 16px;

			.g-menuBtn.is-menu_open & {
				top: 22px;
				@include prefix(transform, rotate(45deg));
			}
		}
		&.is-line_middle {
			top: 22px;

			.g-menuBtn.is-menu_open & {
				opacity: 0;
			}
		}
		&.is-line_bottom {
			top: 28px;

			.g-menuBtn.is-menu_open & {
				top: 22px;
				@include prefix(transform, rotate(135deg));
			}
		}
	}
	&_text {
		display: block;
		position: absolute;
		bottom: 10px;
		left: 0;
		right: 0;
		color: #fff;
		@include fontsize(10);
		text-align: center;

		&:before {
			content: 'MENU';
			display: block;

			.g-menuBtn.is-menu_open & {
				content: 'CLOSE';
			}
		}
	}
}


/* FOOTER
 * -------------------------------------------------- */
.g-footer {
	padding: 30px 0 50px;
	background: #000;

	@include mediaScreenMax($breakTablet) {
		padding: 20px 0 40px;
	}
	&_inner {}
	&_grid {
		display: table;
		width: 100%;
	}
	&_cell {
		display: table-cell;
		vertical-align: top;

		@include mediaScreenMax($breakTablet) {
			display: block;
		}
	}
	&_logo {
		@include mediaScreenMax($breakTablet) {
			margin-top: 20px;
			text-align: center;
		}
		.e-box {}
		.e-img {
			width: 216px;

			@include mediaScreenMax($breakTablet) {
				width: 145px;
			}
		}
	}
	&_link {}
	&_copy {
		display: block;
		margin: 40px 0 0;
		color: #d2d2d2;
		@include fontsize(11);
		letter-spacing: .05em;
		text-align: center;

		@include mediaScreenMax($breakTablet) {
			margin-top: 30px;
			@include fontsize(10);
		}
	}
}

//* SNS */
.g-footSns {
	display: none;

	@include mediaScreenMax($breakTablet) {
		display: block;
		text-align: center;
		letter-spacing: -.5em;
	}
	&_item {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 10px;
	}
	&_item .e-img {
		height: 20px;
	}
	&_item.is-item_fblike {}
	&_item.is-item_fblike .fb-like {}
	&_item.is-item_fb {
		.e-img {}
	}
	&_item.is-item_tw {
		.e-img {}
	}
	&_item.is-item_ig {
		.e-img {}
	}
	&_item.is-item_yt {
		.e-img {}
	}
}

//* LINK */
.g-footLink {
	text-align: right;
	@extend .u-font_mincho;

	@include mediaScreenMax($breakTablet) {
		margin-top: $padding;
		text-align: center;
	}
	&_wrap {
		display: table;
		width: 100%;
	}
	&_items {
		display: table-cell;
		vertical-align: top;
		width: 25%;
		padding: 0 0 0 25px;
		text-align: left;

		@include mediaScreenMax($breakTablet) {
			display: none;
			width: auto;
			margin: -5px -5px 0;
			padding-left: 0;
			text-align: center;
			letter-spacing: -.5em;

			&.is-media_show {
				display: block;
			}
		}
	}
	&_item {
		display: block;
		margin: 10px 0 0;
		@include fontsize(13);
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			display: inline-block;
			vertical-align: top;
			margin: 5px 5px 0;
			@include fontsize(10);
			letter-spacing: 0;
		}
		&:first-child {
			margin-top: 0;

			@include mediaScreenMax($breakTablet) {
				margin-top: 5px;
			}
		}
		.e-box {
			display: block;
			padding: 0 0 0 20px;
			background: url(../img/global/arrow_triangle_right_color.png) no-repeat 0 center;
			background-size: 6px auto;
			color: #fff;
			text-decoration: none;

			@include mediaScreenMax($breakTablet) {
				padding-left: 9px;
				background-size: 4px auto;
			}
		}
	}
	&_english {
		margin: 20px 0 0;

		@include mediaScreenMax($breakTablet) {
			display: none;
		}
		.e-button {
			display: block;
			padding: 0 10px;
			color: #fff;
			@include fontsize(12);
			line-height: 26px;
			text-decoration: none;
			text-align: center;
			border: solid 1px #fff;
			@extend .u-font_sansserif;
		}
		.no-device & a.e-button:hover {
			background-color: $mainColor;
			color: #fff;
			border-color: $mainColor;
		}
	}
}


/* PAGETOP
 * -------------------------------------------------- */
.g-pagetop {
	background: #1b1b1b;
	text-align: center;

	.e-box {
		display: block;
		padding: 20px 0;
		color: #fff;
		text-decoration: none;
		@extend .u-hover_opacity;
	}
	.no-device & a.e-box:hover {
		color: #fff;
	}
	.e-text {
		display: inline-block;
		padding: 0 0 0 30px;
		background: url(../img/global/arrow_triangle_up_white.png) no-repeat 0 center;
		background-size: 14px auto;
		color: #fff;
		@include fontsize(12);
		line-height: 1;
		letter-spacing: .1em;
		@include transition;
	}
	.no-device & a.e-box:hover .e-text {}
}


/* CONTENT
 * -------------------------------------------------- */
.g-content {
	-webkit-box-flex: 1 0 auto;
	-ms-flex: 1 0 auto;
	flex: 1 0 auto;
	-webkit-flex: 1 0 auto;

	@media print {
		-webkit-box-flex: none;
		-ms-flex: none;
		flex: none;
		-webkit-flex: none;
	}
}


/* MAIN
 * -------------------------------------------------- */
.g-main {
	display: table;
	table-layout: fixed;
	width: 100%;
	position: relative;
	word-break: break-all;

	@include mediaScreenMax($breakTablet) {
		display: block;
		width: auto;
	}
	.g-breadcrumb + & {
		padding-top: 50px;

		@include mediaScreenMax($breakTablet) {
			padding-top: 30px;
		}
	}
}


/* PRIMARY
 * -------------------------------------------------- */
.g-primary {
	display: table-cell;
	vertical-align: top;
	padding: 0 0 100px;

	@include mediaScreenMax($breakTablet) {
		display: block;
		padding-bottom: 40px;
	}
}


/* SIDE
 * -------------------------------------------------- */
.g-side {
	display: table-cell;
	vertical-align: top;
	position: relative;
	width: 300px;

	@include mediaScreenMax($breakTablet) {
		display: block;
		width: auto;
		padding-bottom: 40px;
	}
}
.g-primary + .g-side {
	padding-left: 50px;
	text-align: right;

	@include mediaScreenMax($breakTablet) {
		padding-left: 0;
		text-align: left;
	}
}
.g-side + .g-primary {
	padding-right: 50px;

	@include mediaScreenMax($breakTablet) {
		padding-right: 0;
	}
}

/* NAVIGATION */
.g-sideNav {
	margin: 20px 0 0;
	text-align: left;

	&:first-child {
		margin-top: 0;
	}
	&_head {
		@include fontsize(16);
		font-weight: normal;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(14);
		}
		.e-box {
			display: block;
			position: relative;
			padding: 15px 35px 15px 20px;
			background: $mainColor;
			color: #fff;
			text-decoration: none;
			@extend .u-hover_opacity;

			@include mediaScreenMax($breakTablet) {
				padding-right: 25px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 20px;
				width: 6px;
				background: url(../img/global/arrow_triangle_right_white.png) no-repeat 0 center;
				background-size: 100% auto;

				@include mediaScreenMax($breakTablet) {
					right: 15px;
					width: 4px;
				}
			}
		}
		.no-device & a.e-box:hover {
			color: #fff;
		}
	}
	&_items {
		border-left: solid 1px #d2d2d2;
		border-right: solid 1px #d2d2d2;

		&:first-child {
			border-top: solid 1px #d2d2d2;
		}
	}
	&_item {
		display: block;
		@include fontsize(16);
		font-weight: normal;
		line-height: 1.4;
		border-bottom: solid 1px #d2d2d2;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(14);
		}
		.e-box {
			display: block;
			position: relative;
			padding: 15px 35px 15px 20px;
			background: #fff;
			text-decoration: none;

			@include mediaScreenMax($breakTablet) {
				padding-right: 25px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 20px;
				width: 6px;
				background: url(../img/global/arrow_triangle_right_color.png) no-repeat 0 center;
				background-size: 100% auto;

				@include mediaScreenMax($breakTablet) {
					right: 15px;
					width: 4px;
				}
			}
		}
		&.nav-path-selected .e-box,
		.no-device & a.e-box:hover {
			background-color: $bgColor;
		}
	}
}

/* SUB NAVIGATION */
.g-sideSub {
	margin: 20px 0 0;
	text-align: center;

	&_items {}
	&_item {
		display: block;
		margin: 10px 0 0;
		@include fontsize(16);
		font-weight: bold;
		line-height: 1.4;

		@include mediaScreenMax($breakTablet) {
			@include fontsize(14);
		}
		&:first-child {
			margin-top: 0;
		}
		.e-box {
			display: block;
			position: relative;
			padding: 15px 35px;
			background: #fff;
			color: $mainColor;
			text-decoration: none;
			border: solid 2px $mainColor;
			@extend .u-hover_opacity;

			@include mediaScreenMax($breakTablet) {
				padding-left: 25px;
				padding-right: 25px;
			}
			&:after {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				right: 20px;
				width: 6px;
				background: url(../img/global/arrow_triangle_right_color.png) no-repeat 0 center;
				background-size: 100% auto;

				@include mediaScreenMax($breakTablet) {
					right: 15px;
					width: 4px;
				}
			}
		}
		.no-device & a.e-box:hover {}
	}
}

/* LINK */
.g-sideLink {
	margin: 50px 0 0;
	text-align: center;

	@include mediaScreenMax($breakTablet) {
		margin-top: 40px;
	}
	&_head {
		position: relative;

		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			height: 1px;
			margin: auto;
			background: $mainColor;
			opacity: .3;
			z-index: 1;
		}
		.e-name {
			display: inline-block;
			position: relative;
			padding: 0 10px;
			background: #fff;
			color: $mainColor;
			@include fontsize(18);
			line-height: 1;
			z-index: 2;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(16);
			}
		}
	}
	&_items {
		margin: 20px 0 0;
		padding: 30px;
		background: $bgColor;
	}
	&_item {
		display: block;
		margin: 20px 0 0;

		&:first-child {
			margin-top: 0;
		}
		.e-box {
			display: block;
		}
		.e-thumb {
			&_img {}
		}
		.e-caption {
			display: block;
			margin: 5px 0 0;
			@include fontsize(14);
			line-height: 1.4;

			@include mediaScreenMax($breakTablet) {
				@include fontsize(12);
			}
		}
	}
}



/* BREADCRUMB
 * -------------------------------------------------- */
.g-breadcrumb {
	background: $bgColor;
	line-height: 1.3;

	&_inner {
		width: 100%;
	}
	&_items {
		padding: 10px 0 6px;
		letter-spacing: -.5em;
	}
	&_item {
		display: inline-block;
		vertical-align: top;
		@include fontsize(11);

		&:before {
			content: '>';
			display: inline-block;
			margin: 0 .5em;
			letter-spacing: 0;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		.e-box {
			display: inline-block;
			font-weight: 300;
			text-decoration: none;
		}
		.e-name {
			display: inline-block;
			letter-spacing: 0;
		}
	}
}


